
	<td><input size="5" id="subject1" name="subject1" type="text" value="<%= subject1 %>" /></td>
	<td><input size="5" id="subject2" name="subject2" type="text" value="<%= subject2 %>" /></td>
	<td><input size="5" id="subject3" name="subject3" type="text" value="<%= subject3 %>" /></td>
	<td><input size="5" id="subject4" name="subject4" type="text" value="<%= subject4 %>" /></td>
	<td><input size="5" id="subject5" name="subject5" type="text" value="<%= subject5 %>" /></td>
	<td><input size="5" id="subject6" name="subject6" type="text" value="<%= subject6 %>" /></td>
	<td><input size="5" id="yearsem" name="yearsem" type="text" value="<%= yearsem %>" /></td>

