<div class="form-left-col">
	<div>Registration Number:<input size="15" id="sid" name="sid" type="text" value="<%= id %>" disabled /></div>
	<div>First Name:<input size="15" id="firstname" name="firstname" type="text" value="<%= firstname %>" /></div><br>
	<div>Last Name:	<input size="15" id="lastname" name="lastnamr" type="text" value="<%= lastname %>" /></div><br>
	<div>Year of Joining: From&nbsp;	<input size="5" id="syoj" name="syoj" type="text" value="<%= syoj %>" />
		&nbsp;&nbsp;
		 -&nbsp; To<input size="5" id="syop" name="syop" type="text" value="<%= syop %>" /></div><br>
	<div>Course Joined:	<input size="10" id="course" name="course" type="text" value="<%= course %>" /></div>
	<label>Markes Details:</label>
	<div class="" id="">
		<input type="hidden" value="1" id="txtcounter" name="txtcounter"/>
		<table class="table table-striped" id="marksTable" border="1">
			<thead>
				<tr bgcolor="#A9F5F2">
					<!-- <th>DELETE</th> -->
					<th>SUBJECT I</th>
					<th>SUBJECT II</th>
					<th>SUBJECT III</th>
					<th>SUBJECT IV</th>
					<th>SUBJECT V</th>
					<th>SUBJECT VI</th>
					<th>(Year/Sem)/SUBJECTS</th>
				</tr>				
			</thead>
			
		</table>
		<div class="tab11">
			<span><input type="button" id="addRow" value="Add Row" class="button-clean" /></span>
		</div>
	</div>
	<br>
	<div><input type="button" id="Save" value="Save" class="save"  />&nbsp;&nbsp;
		<input type="button" id="delete" value="Delete" class="delete" /></div>
</div>