* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header {
	padding-top: 5px;
}

#sidebar {
	position: absolute;
	left: 10px;
	top: 140px;
	bottom: 20px;
	width: 260px;
	border: solid 1px #CCCCCC;
	overflow-y: scroll;
}

#content {
	position: absolute;
	top: 140px;
	bottom: 20px;
	left: 300px;
	right: 20px;
}

.form-left-col {
	width: 310px;
	float: left;
}

.form-right-col {
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a {
	text-decoration: none;
	display: block;
	color: #000000;
	border-bottom: solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

.form-left-col input {
	margin-bottom: 15px;
	margin-top: 5px;
	width: 280px;
}

textarea {
	margin-bottom: 15px;
	margin-top: 5px;
	height: 200px;
	width: 250px;
}

label {
	display: block;
}

button {
	padding: 6px;
}

.tab {
	width: 700px;
	height: 40px;
	padding-top: 10px;
	padding-left: 15px;
}
.tab1 {
	width: 280px;
	height: 30px;
	float: left
}
.tab2 {
	width: 120px;
	height: 30px;
	float: left;
}
.tab3 {
	width: 120px;
	height: 30px;
	float: right;
}
.tab4 {
	width: 280px;
	height: 30px;
	float: right;
}
.tab5 {
	width: 700px;
	height: 35px;
	padding-left: 15px;
}
.tab6 {
	width: 410px;
	height: 40px;
	float: left;
}
.tab7 {
	width: 200px;
	height: 30px;
	float: right;
}
.tab8 {
	width: 100px;
	height: 30px;
	float: left;
}
.tab9 {
	width: 100px;
	height: 30px;
	float: right;
}
.tab10 {
	width: 250px;
	height: 30px;
	float: right;
}
.tab11 {
	padding-left: 15px;
}
.tab12 {
	padding-left: 15px;
	padding-right: 12px;
}
.button-clean.large span {
  text-align:left; 
}

.button-clean  {
    -webkit-transition-property:color, text-shadow;
    -moz-transition-property:color-text-shadow;
    -moz-transition-duration:  200ms, 200ms;
    -webkit-transition-duration:  200ms, 200ms;
    -moz-transition-timing-function: linear, ease-out;
    -webkit-transition-timing-function: linear, ease-out;
}

.button-clean span {
    background:url('../js/images/back-button-clean-style01.png') no-repeat right top;
    display:block;
    float:left;
    height:28px;
    line-height:25px; 
    text-align:center;
    padding-right:10px;
    color:#808080;
    font-size:13px;
    color:#89898a;
    text-shadow:0 1px #f7f7f9; 
}